{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
</hr>
<p> В случае затруднений возникающих в процессе эксплуатации или настройки обращаться следует в отдел электронных средств филиала «Учебный центр» РУП «Витебскэнерго» по тел. 22-97, 22-92.</p>

<address>
    <strong>Потдержка:</strong>   <a href="mailto:aleh@vitebsk.energo.net">aleh@vitebsk.energo.net</a><br />
    <strong>Потдержка:</strong>   <a href="mailto:asdu@vitebsk.energo.net">asdu@vitebsk.energo.net</a><br />
</address>

{% endblock %}